.generator-container {
  display: inline-block;
  margin: 5px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.75);
}

.generator-container .actions .title {
  font-size: 24px;
  margin: 12px 0;
}

.generator-container .actions .title a {
  color: #dc143c;
}

.generator-container .actions .title a:hover {
  color: #aa1434;
}

.generator-container .actions button {
  float: right;
}